RewriteEngine On
Options All -Indexes
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

ErrorDocument 404 /kimngoc/error

RewriteRule ^error$ kimngoc/404.php [L]


RewriteRule ^admin-chamngon$ admin-chamngon.php [L]
RewriteRule ^admin-sanpham$ admin-sanpham.php [L]
RewriteRule ^admin-update-chamngon$ admin-update-chamngon.php [L]
RewriteRule ^admin-update-sanpham$ admin-update-sanpham.php [L]




