RewriteEngine On
Options All -Indexes
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

ErrorDocument 404 /kimngoc/error

RewriteRule ^error$ kimngoc/404.php [L]
RewriteRule ^admin_logout$ admin_logout.php [L]